################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularNET.Api/bin
/AngularNET.Api/obj
/.vs
